{{site-navigation class="nologo"}}

<div class="homepage-banner">
  <div class="logo"></div>

  <h1>We design + build smart, performant, and useful applications for mobile and web.</h1>

  <p>
    Whether improving existing products or building something new, we only do work we are proud to put our signature on.
  </p>
</div>

<div class="homepage-portfolio">
  <p>
    Built at the intersection of great design and sound data analysis, our products are as robust and useful as they are beautiful.
  </p>

  <ul class="casestudies">
    <li>
      {{#link-to "work.maintenanceassistant" class="image"}}
        <img src="/images/work/ma-thumbnail.jpg">
      {{/link-to}}
      <h4>Maintenance Assistant</h4>
      <p>
        Taking maintenance software to where people need it: mobile
      </p>
      {{link-to "Case Study" "work.maintenanceassistant"}}
    </li><li>
      {{#link-to "work.guestlist" class="image"}}
        <img src="/images/work/guestlist-thumbnail.jpg">
      {{/link-to}}
      <h4>Guestlist</h4>
      <p>
        Online event registration software made simple
      </p>
      {{link-to "Case Study" "work.guestlist"}}
    </li><li>
      {{#link-to "work.massively" class="image"}}
        <img src="/images/work/massively-thumbnail.jpg">
      {{/link-to}}
      <h4>Massively</h4>
      <p>
        Choose your own adventure books brought to a new medium
      </p>
      {{link-to "Case Study" "work.massively"}}
    </li>
  </ul>

  <p>
    Our specialty is building projects using Ruby, Python, and Ember on a foundation of great design.
  </p>
</div>

<div class="homepage-team">
  <p>
    We’re a nimble team of talented multidisciplinary people with backgrounds in design, software, and data analysis.
  </p>

  <ul class="team">
    <li>
      <img class="image" src="/images/team/jaco.jpg">
      <h4>Jaco Joubert</h4>
      <p>
        From marketing sites to complex web and mobile app interfaces, his design is practical, consistent, and beautiful. In his spare time he works on open source projects.
      </p>
      <div class="rule"></div>
      <div class="skills">
        design, user experience, usability, frontend dev, photography
      </div>
    </li><li>
      <img class="image" src="/images/team/justin.jpg">
      <h4>Justin Giancola</h4>
      <p>
        Mathmetician turned developer, he handles critical systems with a Spock-like calm and aplomb. Frequently found at local tech meetups, he is a technology aficionado.
      </p>
      <div class="rule"></div>
      <div class="skills">
        backend dev, frontend dev, online payment, dev ops
      </div>
    </li><li>
      <img class="image" src="/images/team/zach.jpg">
      <h4>Zach Aysan</h4>
      <p>
        A successful entrepreneur in a previous life, he breathes data. When he is not busy optimizing algorithms he can be found experimenting with cryptocurrencies.
      </p>
      <div class="rule"></div>
      <div class="skills">
        machine learning, backend dev, data analysis, photography, cryptocurrencies
      </div>
    </li>
  </ul>
</div>


{{partial-cta}}
